.header {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    height: 100px;
    
    &__leftColumn {
        display: flex;
        align-items: center;
        margin-left: 20px;
        
    }


    &__rightColumn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;        
        &__item {
            
            font-size: 1.3em;
            color: white;
            // font-weight: bold;
            transition: .5s;
            padding: 5px;

        }
        &__item:hover {
            background-color: transparent;
            // font-size: 1.7em;
            letter-spacing: 2px;
            color: rgba(255, 255, 255, 0.582);
        }
    }
}

