.introWrapper {
    height: 395px;
    width: 1440px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    

    &__nameWrapper {
        font-size: 4rem;
        font-weight: 700;
        line-height: 4rem;
        padding-bottom: 1rem;
        font-family: Roboto,sans-serif;

    }
   

    &__description {


    }
   

    &__socialIcons {


    }
}