.introWrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 10% 35% ;

    &__name {
        grid-row: 1/2;
        grid-column: 2/3;

        justify-self: center;
        align-self: end;
        font-size: 60px;
        font-weight: bold;
    }

    &__socialIcons {
        grid-row: 3/4;
        grid-column: 2/3;


        justify-self: center;
        font-size: 50px;
    }
    &__socialIcons:hover {
        color: rgba(255, 255, 255, 0.856);
        
    }
}

    .home__title-writer {
        grid-row: 2/3;
        grid-column: 2/3;


        justify-self: center;
        align-self: center;
        color: white;
        font-size: 40px;
    }