@import 'header';
@import 'intro';
@import 'about';
@import 'portfolio';
@import 'contact';
@import 'contactForm';

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

body {

    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    background-color: #3fd0ed;
    color: white;

}

.app {
    top: 0;
    bottom: 0;

}